@font-face { font-family: elena-web; src: url('/theme/fontregular.woff'); }
@font-face { font-family: elena-web; src: url('/theme/fontregularitalic.woff'); font-style: italic; }
@font-face { font-family: elena-web; src: url('/theme/fontbold.woff'); font-weight: bold; }
@font-face { font-family: elena-web; src: url('/theme/fontbolditalic.woff'); font-weight: bold; font-style: italic; }

@media screen, projection {

html {
  background-color: #f6f6f6;
  color: #111;
  text-align: left;
}

body {
	font-size: 22px;
	line-height: 1.6;
	font-family: "Sentinel SSm A", "Sentinel SSm B", "elena-web", Georgia, serif;
	zoom: 1;
	max-width: 40%;
	margin: 0 auto;
}

a {
	color: #c23038;
	text-decoration: none;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 34px;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-bottom: 5px solid #8f8f8c;
}

h2 {
	font-size: 28px;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h4 {
	font-size: 16px;
}

sup {font-size:14px; vertical-align:super;}

blockquote {
	padding-left: 1.5em;
	margin: 0;
	color: #888;
	font-size: 85%;
	border-left: 5px solid #CCC;
}

code {
	font-family: consolas, 'andale mono', 'courier new', monospace;
	font-size: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
					/*SITE HEADER*/
/*--------------------------------------------------------*/
#site-header {
	text-align: center;
}

#site-header {
	font-size: 72px;
	padding-top: 1rem;
}

#site-header a {
	color: #111;
}

#site-header nav {	
	text-align:justify;
	text-align-last: justify;
	font-size: 20px;
	width: 100%;
	background-color: #500000;
	color: #eddd9e;
	border-radius: 8px;
	margin-bottom: 4rem;
	height: 1.1em;
	line-height: 1.1;
	padding: 1%;
}

#site-header nav:after {
	content: "";
	display: inline-block;
	width: 100%;
}

#site-header nav a {
	color: #eddd9e;
}

/*--------------------------------------------------------*/


					/*ARTICLES*/
/*--------------------------------------------------------*/
.idx-summary {
	font-style: italic;
	margin-top: -1.5rem;
}

.entry-title {
	font-size: 28px;
}

.article-content {
	text-align: justify;
}

.entry-footer {
	/*padding-top: 0.75em;*/
	/*border-top: 1px dotted #CFCFCF;*/
	/*margin-top: -1px;*/
	/*clear: both;*/
	font-size: 20px;
}
.entry-footer table, tr {
	width: 100%;
}

.entry-footer td {
	width: 30%;
}

.entry-footer .previous {
	text-align: left;
}
.entry-footer .categories {
	text-align: center;
}
.entry-footer .next {
	text-align: right;
}

.footnote > ol {
	margin-left: 7.5%;
	font-size: 18px;
	list-style: decimal;
}


					/*ARCHIVES PAGE*/
/*--------------------------------------------------------*/

.blog-archives table {
	width: 100%;
}

/*add spacing between years*/
tr.year-row > td {
	padding-top: 1em;
}

/*for first row dont pad the top*/
.blog-archives tr:first-child td {
	padding-top: 0em;
}
.blog-archives td {
	width: 30%;
}




					/*SITE FOOTER*/
/*--------------------------------------------------------*/

#site-footer {
	margin-top: 5rem;
	text-align: center;
	font-size: 10px;
}


} /* end main screen and projection query */



/*iphone landscape...*/

@media (max-width: 680px) {
	#content {
		width: 80%;
	}

	#navcontainer {
		font-size: 1.8em;
	}

	.entry-content {
		font-size: 2em;
		text-align: left;
	}
}


@media (max-width: 520px) {

	#content {
		width: 95%;
	}

	#navcontainer {
		font-size: 1.4em;
	}

	.entry-content {
		font-size: 2em;
		text-align: left;
	}
}


